<h2>Event List</h2>

<%= form_tag events_path, :method => :get do %>
    <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>

<p>
<%= link_to 'Sort by Name', events_path( :order => "name") %> |
<%= link_to 'Sort by Default', events_path %>
</p>

<table class="table table-hover">
<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td>
      <%= link_to "顯示", event_path(event), :class => 'btn btn-default' %>

      <%= link_to '留言', event_comments_path(event), :class => 'btn btn-default' %>

      <%= link_to "編輯", edit_event_path(event), :class => 'btn btn-default' %>
      <%= link_to "刪除", event_path(event), :method => :delete, :data => { :confirm => "Are you sure?"}, :class => 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @events %>

<p>
<%= link_to new_event_path, :class => "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus"></span>
  新增 Event
<% end %>
</p>

<p>
  <%= link_to "XML", events_path(:format => :xml) %> |
  <%= link_to "JSON", events_path(:format => :json) %>
</p>