<%= @event.name %>

<% if @event.logo.exists? %>
  <%= link_to image_tag(@event.logo.url(:medium)), @event.logo.url  %>
<% end %>


<p>Category: <%= @event.category.try(:name) %><p>

<p>Group:
  <% @event.groups.each do |g| %>
    <%= g.name %>
  <% end %>
</p>

<%= simple_format(@event.description) %>

<p><%= link_to 'Back to index', :controller => 'events', :action => 'index' %></p>